<html>
<head>
	<title>test</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
 </div>
		<div id="home">
				<button onclick="goBack()" class="center-block">
				<img src="images/gHome.jpg" alt="Home" class="center-block">
			</button>
  			</div>


		<div id="What">
				<img src="images/What.jpg" alt="What" class="center-block">
  			</div>
<!--
  		<hr>
		<div id="Strength">
			<div class = "text-center">
				<div class="dropdown btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown-menu">
					<img src="images/Strength.jpg" alt="Strength">
				</button>
				</div>
			</div>
		</div> 
		<hr> 
		<div id="Muscle">
			<div class = "text-center">
				<div class="dropdown btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown-menu">
					<img src="images/Muscle.jpg" alt="Muscle">
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Weight">
			<div class = "text-center">
				<div class="dropdown btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu3" data-toggle="dropdown-menu">
					<img src="images/Weight.jpg" alt="Weight">
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Stamina">
			<div class = "text-center">
				<div class="dropdown btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu4" data-toggle="dropdown-menu">
					<img src="images/Stamina.jpg" alt="Stamina">
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Habit">
			<div class = "text-center">
				<div class="dropdown btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu5" data-toggle="dropdown-menu">
					<img src="images/Habit.jpg" alt="Habit">
				</button>
				</div>
			</div>
		</div>
-->

<hr>
		<div id="Strength">
			<div class = "text-center">
				<a href = "goals/strength.html">
					<img src="images/Strength.jpg" alt="Strength">
				</a>
				</button>
				</div>
			</div>
		</div> 
		<hr> 
		<div id="Muscle">
			<div class = "text-center">
				<a href = "goals/muscles.html">
					<img src="images/Muscle.jpg" alt="Muscle">
				</a>
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Weight">
			<div class = "text-center">
				<a href = "goals/weight.html">
					<img src="images/Weight.jpg" alt="Weight">
				</a>
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Stamina">
			<div class = "text-center">
				<a href = "goals/stamina.html">
					<img src="images/Stamina.jpg" alt="Stamina">
				</a>
				</button>
				</div>
			</div>
		</div>
		<hr>
		<div id="Habit">
			<div class = "text-center">
				<a href = "goals/habit.html">
					<img src="images/Habit.jpg" alt="Habit">
				</a>
				</button>
				</div>
			</div>
		</div>

<script>
function goBack() {
    window.history.back();
}
</script>

    <script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
