<html>
<head>
	<title>goals</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<style>

.header {
	color:#FF7E10;
	padding: 25px 15px;
	border:none;
	font-size:24px;
	margin: 4px 2px;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul#faves > test {

}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

</style>
<body>
 </div>
		<div id="home">
				<button onclick="goBack()" class="center-block"> home 
			</button>
  			</div>


		<div id="Goals Header">
				<div class = header>
					<h1> G O A L S </h1>
  			</div>

<div class="tab">
  <button class="tablinks" onclick="openGoals(event, 'Weekly')">Weekly</button>
  <button class="tablinks" onclick="openGoals(event, 'Monthly')">Monthly</button>
  <button class="tablinks" onclick="openGoals(event, 'Yearly')">Yearly</button>
</div>

<div id = "Weekly" class = "tabcontent">

    {{#each goals.weekly}}
    <div class = "test">
      <div class = "setWidth">
          <h3><input type = "checkbox"/> <label class = "strikethrough">{{description}}<br></label></h3>

      </div>
  </div>
    {{/each}}


        <div>
        <ul id="faves">
        </ul>
        <h3>Add a Goal</h3>
        <label for="goal">Goal:</label>
        <input type="text" class="form-control" id="add" placeholder="Do 10 push-ups everday this week!" name="goal" required/>
        <input type="button" id="btnAdd" class="btn btn-default" value="Add Your Goal!" onclick="addWeek()" required>
        </div>
</div>

<div id = "Monthly" class = "tabcontent">

    {{#each goals.monthly}}
    <div class = "test">
      <div class = "setWidth">
          <h3><input type = "checkbox"><label class = "strikethrough">{{moth}}<br></label></h3>

      </div>
  </div>
    {{/each}}

        <div>
          <ul id="Months"> </ul>
            <h3>Add a Goal</h3>
             <label for="goal"> Goal:</label>
                <input type="text" class="form-control" id="adds" placeholder="Do 10 push-ups everday this week!" name="goal" required/>
                <input type="button" id="btnAdd" class="btn btn-default" value="Add Your Goal!" onclick="addMonth()" required>
        </div>

</div>

<div id = "Yearly" class = "tabcontent">

    {{#each goals.yearly}}
    <div class = "test">
      <div class = "setWidth">
          <h3><input type = "checkbox"><label class = "strikethrough">{{yer}}<br></label></h3>
      </div>
  </div>
    {{/each}}

        <div>
          <ul id="Years"> </ul>
            <h3>Add a Goal</h3>
             <label for="goal">Goal:</label>
                <input type="text" class="form-control" id="addz" placeholder="Do 10 push-ups everday this week!" name="goal" required/>
                <input type="button" id="btnAdd" class="btn btn-default" value="Add Your Goal!" onclick="addYear()" required>
        </div>

</div>

	
<script>
function goBack() {
    window.history.back();
}

function openGoals(evt, goalTime) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(goalTime).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<script >

function newUser(){
  var user = {};

  user.weekly.description = document.getElementById("description").value;

  //Debug
  console.log(user);

  var obj = JSON.parse('goals.json');
  obj['weekly'].push(user);

  jsonStr = JSON.stringify(obj);
  console.log(jsonStr);
}
</script>

<script>
    function addWeek(){
        var test = document.createElement("test");  
        var input = document.getElementById("add");
        var br = document.createElement("br");
        test.setAttribute("style",'text-align:left;');
        test.innerHTML +="<h3>"+"<input type='checkbox' onclick='sel()' value='Select'/>"+ "<label class = 'strikethrough'>"+input.value+ "</label>" + "</h3>";
        input.value = "";

        document.getElementById("faves").appendChild(test).required;
        document.getElementById("faves").appendChild(br);
        document.getElementById("faves").push(test);
    }
</script>

<script>
    function addMonth(){
        var test = document.createElement("test");  
        var inputs = document.getElementById("adds");
        var br = document.createElement("br");
 
        test.innerHTML +="<h3>"+"<input type='checkbox' onclick='sel()' value='Select'/>"+"<label class = 'strikethrough'>"+inputs.value+ "</label>" + "</h3>";
        inputs.value = "";
        document.getElementById("Months").appendChild(test);
        document.getElementById("Months").appendChild(br);
    }
</script>

<script>
    function addYear(){
        var test = document.createElement("test");  
        var input3 = document.getElementById("addz");
        var br = document.createElement("br");
 
        test.innerHTML +="<h3>"+"<input type='checkbox' onclick='sel()' value='Select'/>"+"<label class = 'strikethrough'>"+input3.value+ "</label>" + "</h3>";
        input3.value = "";
        document.getElementById("Years").appendChild(test);
        document.getElementById("Years").appendChild(br);
    }
</script>

    <script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
