<html>
<head>
	<title>Home</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<style>

.header {
	color:#4CAF50;
	padding: 25px 15px;
	border:none;
	font-size:24px;
	margin: 4px 2px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 50px;
    cursor: pointer;
}

.settings {
	position: absolute;
	bottom: 0;
	text-align: center;
	color:#4CAF50;
	border:none;
	font-size:24px;
}

</style>
<body>

	<div class = "header">
		<h1> Esgeddit <h1>
	</div>

	<div class = sup>
		<h5> Welcome back User! </h5>
	</div>

	<div id = "User goals">
		<a href = "goals.html" class = "button"> Goals </a>
	</div>

	<div id = "User Schedule">
		<a href = "schedule.html" class = "button"> Schedules </a>
	</div>

	<div id = "User excercises">
		<a href = "excercises.html" class = "button"> Excercises </a>
	</div>

	<div class = "settings">
		<a href = "goals.html" class = "settings"> Settings </a>
	</div>
			
	<script src = images/Friends.jpg></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

