<html>
<head>
	<title>Home</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<style>

.header {
	color:#FF7E10 ;
	padding: 1px 1px;
	border:none;
	font-size:10px;
	margin: 15px 1px -20px 15px;
}

.button {
    background-color: #4BE8C5;
    border: none;
    color: white;
    padding: 40px 0px 40px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px 15px 60px;
    cursor: pointer;
    width: 250px;
    position: center;
}

.settings {
	background-color: #FFC803;
	border:none;
	color:#FFFFFF;
	padding: 15px 15px;
	text-align: center;
	font-size:18px;
	margin-top: 20px;
	position: center;
}

.sup {
	color:#FFC803  ;
	padding: 1px 1px;
	border:none;
	font-size:5px;
	margin: 1px 1px -15px 15px;
}

.quote {
	color:#FFC803  ;
	padding: 1px 1px;
	border:none;
	font-size:5px;
	margin: 1px 1px 25px 15px;
}

</style>
<body>

	<div class = "header">
		<h1> E S G E D D I T <h1>
	</div>

	<div class = "sup">
		<h5> Welcome back User! </h5>
	</div>

	<div class = "quote">
		<h4> Insert motivational quote here! </h4>
	<div>

	<div id = "User goals">
		<a href = "goals.html" class = "button"> Goals </a>
	</div>

	<div id = "User Schedule">
		<a href = "schedule.html" class = "button"> Schedules </a>
	</div>

	<div id = "User excercises">
		<a href = "excercises.html" class = "button"> Excercises </a>
	</div>

	<div class = "settings">
		<a href = "settings.html" class = "settings"> SETTINGS </a>
	</div>
			
	<script src = images/Friends.jpg></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

