<html>
<head>
	<title>test</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
		<div id = "sixth">
			    <div class="col-md-1">
				<a href="settings.html"> <img src="images/sett.jpg" alt="settings" class = "left"></a>
		</div>
	</div>

		<div id="first">
			<div class="span4">
				<img src="images/titl.jpg" alt="Title" class="center-block">
		</div>
	</div>

		<div id="second">
			<div class="col-md-6">
			<a href="schedule.html" class="thumbnail"> <img src="images/schedul.jpg" alt="Schedule" class="img"></a>
		</div>
	</div>

		<div id = "third">
			    <div class="col-md-6"> 
			    <a href="friends.html" class="thumbnail"> <img src="images/frie.jpg" alt="Friends" class="img">
			</a>
		</div>
	</div>

		<div id = "fourth">
			    <div class="col-md-6">
			    <a href="exercises.html" class="thumbnail"> <img src="images/excercises.jpg" alt="exercises" class="img"></a>
		</div>
	</div>

		<div id = "fifth">
			    <div class="col-md-6">
				<a href="goals.html	" class="thumbnail"> <img src="images/goa.jpg" alt="goals" class="img"> </a>
		</div>
	</div>
	<script src = images/Friends.jpg></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

