<html>
<head>
	<title>test</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
		<div id="settings">
			<div class = "col-md-1">
				<a href="settings.html"> <img src="images/Settings.jpg" alt="settings" class = "left"></a>
  			</div>
  			<hr>
  					<div id="home">
				<button onclick="goBack()" class="center-block">
				<img src="images/wip.jpg" alt="Home" class="center-block">
			</button>
  			</div>
  			<hr>

  					<div id="else">
				<button onclick="goBack()" class="center-block">
				<img src="images/settings.jpg" alt="Home" class="center-block">
			</button>
  			</div>
  			<hr>

	<p class = "text-center"> Place holder for goals in muscle <p>

	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>

	<script>
		function goBack() {
    		window.history.back();
    	}
	</script>
</body>
</html>

